.env
/vendor
/node_modules
/public/storage
/public/build
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
/bootstrap/cache/*.php
.phpunit.result.cache
.env.backup
.env.production
php_errors.log
composer.lock.backup
auth.json
